.contact-hero {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.contact-hero-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: brightness(70%); /* darkens image slightly for readable text */
}

.contact-hero-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-align: center;
}
.contact-hero-text h1 {
    color:  #a88345;
  font-size: 60px;
  font-weight: bold;
  letter-spacing: 2px;
}
.contact-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 80px 10%;
  gap: 60px;
  flex-wrap: wrap;
  background: #fff;
}

.contact-info {
  flex: 1;
  min-width: 350px;
  border: 1px dashed #ccc;
  border-radius: 12px;
  padding: 30px;
}

.contact-info h2 {
  font-size: 50px;
  color: #0c1b23;
}

.contact-info h2 span {
  color: #d4af37; /* gold tone */
}

.contact-info p {
  
  color: #9c9b9b;
  line-height: 1.6;
  margin-top: 15px;
}

.contact-details {
  margin-top: 30px;
}

.contact-item {
   align-items: center;
  gap: 15px; 
   display: flex;
  margin-bottom:8px;
}
.contact-icon {
   margin-top: 3px;
   flex-shrink: 0;
  font-size: 40px;   
  color: #d4af37;     
   }
   .divider {
  border: none;          /* remove default border */
  border-top: 1px dotted #d4af37; /* dotted line */
  margin: 5px 0;         /* small space above/below */
  width: 100%;           /* full width of container */
}

.contact-item h3 {
  color: #0c1b23;
  font-size: 18px;
  margin-bottom: 8px;
  font-weight: bold;
}

.contact-item p {
  color: #555;
}

.contact-form {
  min-height:700px;
  flex: 1;
  min-width: 350px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  border-radius: 12px;
  padding: 20px;
    margin-bottom: 15px;
}

.contact-form h3 {
    margin-bottom: 15px;
  font-family: cursive;
  font-size: 20px;
  color: #0c1b23;
  margin-bottom: 15px;
}

.form-row { 
  display: flex;
  gap: 10px;
  margin-bottom: 60px;
}

.form-row input {
   margin-bottom: 30px;
   display: flex;
  flex: 1;
  padding: 15px;
  border: 1px solid #ccc;
  border-radius: 6px;
}

textarea {
  gap: 30px;
  min-height: 150px;
  width: 100%;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 6px;
  resize: none;
  margin-bottom: 100px;
}

button {
   background-color: #0c1b23;
   width:100%;
  color: white;
  padding: 10px 10px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: 0.3s;
    margin-bottom: 30px;

}

button:hover {
  background-color: #d4af37;
  color: #0c1b23;
}
.name{
   color:#0c1b23;
   margin-bottom: 10px;
}
.email{
   color:#0c1b23
}
.contact-map {
  
  flex: 1;             /* take remaining space */
  min-width: 350px;
  height: 500px;       /* map height */
  border-radius: 12px; /* optional rounded corners */
  overflow: hidden;    /* make iframe corners rounded */
}

@media (max-width: 768px) {
  .contact-container {
    flex-direction: column;
  }
  .contact-map {
    height: 400px;
  }
}

/* Optional: iframe takes full container size */
.contact-map iframe {
  width: 100%;
  height: 100%;
  border: 0;
}