.footer {
  position: relative;
   z-index: 5;
  background-color: #002233;
  color: white;
  padding: 60px 0 20px;
  font-family: 'Poppins', sans-serif;
  width: 100%;
   margin-top: 10px;
    margin-left: 10px;
}

/* Top container */
.footer-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 0 60px;
  border-bottom: 1px solid #334b5a;
  padding-bottom: 40px;
}

/* Logo + Address */
.footer-left {
  flex: 1;
  min-width: 250px;
}

.footer-logo {
  width: 160px;
  margin-bottom: 15px;
}

.footer-tagline {
  color: #b69333;
  font-size: 18px;
  margin-bottom: 10px;
}

.footer-info p {
  color: #e0e0e0;
  font-size: 14px;
  line-height: 1.6;
  margin: 0;
}

/* Contact + social section */
.link-section {
  flex: 2;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 10px;
  align-items: flex-start;
  margin-top: 10%;
}

.link-card {
  min-width: 150px;
}

.link-card h2 {
  color: #fcb900;
  font-size: 15px;
  margin-bottom: 8px;
}

.link-card p {
  color: white;
  font-size: 14px;
}

.footer-links {
  display: flex;
  justify-content: flex-end; 
   margin-right: 80px;
  margin-bottom: 30px;
   position: relative;
  top: -250px;    
}

.footer-links ul {
display: flex;
  gap: 40px;
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer-links li {
  color: white;
  font-size: 18px;
  cursor: pointer;
  transition: color 0.5s;
}

.footer-links li:hover {
  color: #fcb900;
}

.footer-bottom {
  border-top: 1px solid #334b5a;
  text-align: center;
  margin-top: -50px;
  padding-top: 15px;
  font-size: 13px;
  color: #ccc;
}
@media (max-width: 768px) {
  .footer-container {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .link-section {
    flex-direction: column;
    align-items: center;
  }

  .footer-links ul {
    flex-direction: column;
    gap: 15px;
  }
}
