.blog-hero {
  position: relative;
  width: 100%;
  height: 100vh; /* Hero height */
  overflow: hidden;
   min-height: 400px;
}

.blog-hero-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: brightness(60%); /* dark effect for text visibility */
}

.blog-hero-text {
   color:  #d3c683;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.blog-hero-text h1 {
  font-size: 70px;
 color:  #d3c683;
  letter-spacing: 5px;
  font-weight: 700;
  text-transform: uppercase;
}
.blog-container {
  max-width: 1000px;     /* center on screen */
  padding: 0 20px; 
  padding-left: 0px;    /* small left-right spacing */
}

.blog-top-section {
   
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px 10%;
  margin-top: 20px;
}

.blog-title{
  font-size: 50px;
  font-weight: 500;
   color:#1a2e38;
  letter-spacing: 2px;
}
.blog-title span 
{ 
     color:#ffd700;
}

.blog-search {
position: relative;
     margin-left: 520px;
  display: flex;
  gap: 10px;
}



.blog-search input {
  padding: 10px 20px;
  width: 360px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 15px;
}
.search-icon {
  position: absolute;
  right: 12px;        /* inside the box */
  top: 50%;
  transform: translateY(-50%);
  color:#ffd700;
  font-size: 18px;
  pointer-events: none; /* so clicking still focuses input */
}
.blog-search input:focus {
  outline: none;
  border-color: #1367c8; /* real estate blue */
}

.blog-search button {
  padding: 10px 20px;
  background-color: #1367c8;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 15px;
  font-weight: 600;
  transition: 0.3s ease;
}

.blog-search button:hover {
  background-color: #0f56a8;
}

/* Responsive */
@media (max-width: 768px) {
  .blog-top-section {
    flex-direction: column;
    gap: 20px;
    align-items: flex-start;
  }

  .blog-search {
    width: 100%;
  }

  .blog-search input {
    width: 100%;
  }
}
.blog-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 3 per row */
  gap: 40px;
  padding: 40px 10%;
}

.blog-card {
  background: #fff;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  padding-bottom: 20px;
  transition: 0.3s ease;
}

.blog-card img {
  width: 120%;
  height: 250px;
  object-fit: cover;
}


.blog-card p {
  font-size: 20px;
  color:#05212e;
  margin: 0 15px 10px 15px;
  line-height: 2.0;
}

.read-more {
    background: none;
  margin-left: 15px;
  font-size: 15px;
  font-weight: 600;
  color:black;
  text-decoration: underline;
  cursor: pointer;
}

/* Hover effect */
.blog-card:hover {
  transform: translateY(-5px);
  box-shadow: 0px 5px 20px rgba(0,0,0,0.15);
}

/* Responsive for tablet & mobile */
@media (max-width: 768px) {
  .blog-grid {
    grid-template-columns: 1fr; /* 1 per row */
  }
}
